/* 
 * Stylesheet for Fedora documentation.
 */

body { 
    background-color: #ffffff;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

#header {
    border-bottom: 1px solid;
    clear: both;
    margin-bottom: 10px;
    min-height: 70px;
    width: 100%;
}

#logo {
    background-image: url(images/logo_44x60.gif);
    background-repeat: no-repeat;
    background-position: top left;
    
    float: left;
    height: 60px;
    width: 44px;
    visibility: visible;
}

#title {
    text-align: center; 
}

#toc {
    width: 50%;
    margin-bottom: 10px;
}

#tocbox {
    border: 1px solid;
    padding-left: 4px;
    padding-right: 4px;
}

#tocbox ol {
    list-style: decimal outside none;
}

#tocbox ol ol {
    list-style: upper-alpha outside none;
}

#introduction, #references, .sect {
    margin-bottom: 5px;
}

.sect .subsect {
    margin-left: 20px;
    margin-bottom: 5px;
}

#references dl {
    margin-left: 20px;
    margin-right: 20px;
}

#references dt {
    margin-top: 10px;
}

#footer {
    border-top: 1px solid;
    margin-top: 20px;
    padding-top: 8px;
}

#footer #copyright, #lastModified {
    color: #4C7C8E;
}

#footer #copyright {
    float: left;
}

#footer #lastModified {
    float: right;
}

/* FIXME: Make these sort of match the Category4 stuff,
          but still be appropriate for documentation */

h1, h2, h3 {
    color: #4C7C8E;
    margin-top: 4px;
    margin-bottom: 4px;
}

h4, h5 {
  color: #4C7C8E;
  margin-top: 2px;
  margin-bottom: 2px;
  text-decoration: underline;
}

h1 {
    font-size: 24px;
    line-height: 110%;
    padding-top: 8px;
    padding-bottom: 4px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 13px;
}

h5 {
    font-size: 12px;
}

h2, h3, h4, h5 {
    padding-top: 4px;
    padding-bottom: 4px;
}

p {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px;
}

.code {
    background: #ddddff;
    border: thin solid #000000;
    font-family: Lucida Console, Courier New, Courier, monospace;
    margin: 5px 5px 5px 5px;
    min-width: 600px;
    padding: 5px;
    white-space: pre;
}

.reference {
    text-decoration: none;
}
